.help {
  padding-top: 89px;
  padding-bottom: 100px;
  background-color: #1964aa;
  @include bg;
  background-image: url('/src/img/bgs/help.jpg');

  @media (max-width: 650px) {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: none;
  }
}

.help__title {
  @include title;
  margin-bottom: 32px;
  text-align: center;
  color: white;

  @include mobile-mb;

  span {
    color: $yellow;
  }
}

.help__text {
  text-align: center;
  max-width: 883px;
  margin-bottom: 64px;
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;

  @include tablet-mb;
  @include mobile-mb;

  @media (max-width: 890px) {
    br {
      display: none;
    }
  }
}

.help__content {
  padding-top: 36px;
  padding-left: 40px;
  padding-right: 21px;
  padding-bottom: 35px;
  position: relative;

  &::before {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    content: '';
    @include central-align;
    position: absolute;
    border: 1px solid #dadadb;
  }

  max-width: 555px;
  margin-left: auto;
  background: #ffffff;
  box-shadow: 0px 9px 127px rgba(25, 38, 65, 0.23),
    0px 3.28515px 46.3571px rgba(25, 38, 65, 0.158696),
    0px 1.59488px 22.5055px rgba(25, 38, 65, 0.127947),
    0px 0.781839px 11.0326px rgba(25, 38, 65, 0.102053),
    0px 0.30914px 4.36231px rgba(25, 38, 65, 0.0713042);
  border-radius: 10px;

  @media (max-width: 650px) {
    padding-left: 30px;
  }
}

.help__list {
  @include reset-list;
  margin-bottom: 35px;

  & > * + * {
    margin-top: 35px;

    @media (max-width: 650px) {
      margin-top: 20px;
    }
  }

  @include mobile-mb;
}

.help__item {
  padding-left: 87px;
  position: relative;
  padding-bottom: 35px;
  border-bottom: solid 1px #dadadb;

  @media (max-width: 650px) {
    padding-left: 0;
  }

  &::before {
    width: 67px;
    height: 67px;
    @include bg;
    content: '';
    position: absolute;
    left: 0;
    @include y-align;

    @media (max-width: 650px) {
      position: relative;
      transform: none;
      top: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }
  }

  @for $i from 1 through 2 {
    &:nth-child(#{$i})::before {
      background-image: url('/src/img/icons/help/2.svg');
    }
  }

  @media (max-width: 650px) {
    padding-bottom: 20px;
  }
}

.help__note {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 700;
  span {
    color: $blue;
  }
}
