.steps {
  padding-top: 89px;
  padding-bottom: 110px;
  background-color: #f9fcff;
  @include bg;
  background-image: url('/src/img/bgs/steps-bg.jpg');

  @media (max-width: 650px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.steps__title {
  @include title;
  margin-bottom: 34px;

  span {
    color: $blue;
  }

  @include mobile-mb;
}

.steps__text {
  font-size: 20px;
  margin-bottom: 64px;
  max-width: 914px;

  @include tablet-mb;
  @include mobile-mb;
}

.steps__list {
  @include reset-list;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @include tablet-mb;
  @include mobile-mb;
}

.steps__item {
  background: #ffffff;
  box-shadow: 0px 76px 161px rgba(132, 132, 132, 0.07),
    0px 31.751px 67.2619px rgba(132, 132, 132, 0.0503198),
    0px 16.9756px 35.9615px rgba(132, 132, 132, 0.0417275),
    0px 9.51638px 20.1597px rgba(132, 132, 132, 0.035),
    0px 5.05408px 10.7067px rgba(132, 132, 132, 0.0282725),
    0px 2.10311px 4.45528px rgba(132, 132, 132, 0.0196802);
  border-radius: 6px;
  position: relative;
  @include max-width(360px);
  min-height: 450px;
  padding-left: 26px;
  padding-right: 40px;
  padding-top: 40px;

  &::before {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    content: '';
    @include central-align;
    position: absolute;
    border: 1px solid #dadadb;
  }

  &:nth-child(3) .steps__item-title::before {
    left: -3px;
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) .steps__item-title::before {
      content: url('/src/img/icons/steps/#{$i}.png');
    }
  }
}

.steps__item-title {
  padding-left: 80px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: $blue;
  margin-bottom: 37px;

  @include mobile-mb;

  &::before {
    position: absolute;
    left: -29px;
    top: -35px;
  }
}

.steps__item-text-box {
  & > * + * {
    margin-top: 12px;
  }
}

.steps__item-text {
  margin-bottom: 0;

  b {
    color: $blue;
  }
}

.steps__note {
  border: 1px dashed #1964aa;
  border-radius: 10px;
  @include max-width(780px);
  padding-left: 130px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 14px;
  font-size: 20px;
  font-weight: bold;
  position: relative;

  @media (max-width: 650px) {
    padding-left: 90px;
  }

  &::before {
    content: url('/src/img/icons/steps-check.svg');
    @include y-align;
    left: 40px;
    position: absolute;

    @media (max-width: 650px) {
      left: 18px;
    }
  }

  span {
    color: $blue;
  }
}
